<div class="container">
  <div class="loader" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!loading">
    <div class="timestamp">
      <h2 class="title">
        <span>{{ location.city }}</span><br>
        <span>{{ 'app.lastUpdated' | translate }}: {{ lastUpdated | date: 'dd.MM.yyyy \'at\' HH:mm' }}</span>
      </h2>
    </div>

    <div class="row">
      <div class="current-forecast">
        <h2 class="title">{{ 'app.currentForecast' | translate }}</h2>
        <div class="forecast-card">
          <div class="weather-icon">
            <img [src]="'https://openweathermap.org/img/wn/' + weatherData.current.weather[0].icon + '@2x.png'" alt="Weather Icon">
          </div>
          <div class="weather-details">
            <h2>{{ weatherData.current.temp - getConst.KELVIN | number: '1.0-0' }}°C</h2>
            <p>{{ weatherData.current.weather[0].description }}</p>
            <p>{{ 'app.feelsLike' | translate }}: {{ weatherData.current.feels_like - getConst.KELVIN | number: '1.0-0' }}°C</p>
            <p *ngIf="weatherData.daily">{{ 'app.min' | translate }}: {{ weatherData.daily[0].temp.min - getConst.KELVIN | number: '1.0-0' }}°C, {{ 'app.max' | translate }}: {{ weatherData.daily[0].temp.max - getConst.KELVIN | number: '1.0-0' }}°C</p>
            <p>{{ 'app.humidity' | translate }}: {{ weatherData.current.humidity }}%</p>
            <p>{{ 'app.wind' | translate }}: {{ weatherData.current.wind_speed }} m/s</p>
            <p>{{ 'app.pressure' | translate }}: {{ weatherData.current.pressure }} hPa</p>
          </div>
        </div>
      </div>

      <div class="forecast">
        <h2 class="title">{{ 'app.5DayForecast' | translate }}</h2>
        <div class="flex-container">
          <div class="forecast-item" *ngFor="let day of weatherData.daily?.slice(1, 6);">
            <div class="date">{{ day.dt * getConst.MILLISECONDS| date }}</div>
            <div class="details">
              <div class="block">
                <div class="temperature">
                  <p class="text">
                    <span class="min">{{ day.temp.min - getConst.KELVIN | number: '1.0-0' }}°C</span><br>
                    <span class="max">{{ day.temp.max - getConst.KELVIN | number: '1.0-0' }}°C</span>
                  </p>
                </div>
                <div class="sun-time">
                  <p class="text">
                    <span class="sunrise">{{ day.sunriseTime }}</span><br>
                    <span class="sunset">{{ day.sunsetTime }}</span>
                  </p>
                </div>
                <div class="condition">{{ day.weather[0].description }}</div>
              </div>
              <div class="forecast-icon">
                <img [src]="'https://openweathermap.org/img/wn/' + day.weather[0].icon + '@2x.png'" alt="Weather Icon">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="chart-container">
      <canvas baseChart
        [data]="chartData"
        [options]="chartOptions"
        [type]="'line'">
      </canvas>
    </div> -->

    <ion-button expand="full">
      {{ 'app.refresh' | translate }}
    </ion-button>
  </div>
</div>
