<div class="container">
  <div class="loader" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!loading">
    <div class="timestamp">
      {{ location.city }} Last updated: {{ lastUpdated | date: 'dd.MM.yyyy \'at\' HH:mm' }}
    </div>

    <div class="row">
      <div class="current-forecast">
        <div class="weather-icon">
          <img [src]="'https://openweathermap.org/img/wn/' + weatherData.current.weather[0].icon + '@2x.png'" alt="Weather Icon">
        </div>
        <div class="weather-details">
          <h2>{{ weatherData.current.temp - KELVIN | number: '1.0-0' }}°C</h2>
          <p>{{ weatherData.current.weather[0].description }}</p>
          <p>Feels like: {{ weatherData.current.feels_like - KELVIN | number: '1.0-0' }}°C</p>
          <p *ngIf="weatherData.daily">Min: {{ weatherData.daily[0].temp.min - KELVIN | number: '1.0-0' }}°C, Max: {{ weatherData.daily[0].temp.max - KELVIN | number: '1.0-0' }}°C</p>
          <p>Humidity: {{ weatherData.current.humidity }}%</p>
          <p>Wind: {{ weatherData.current.wind_speed }} m/s</p>
          <p>Pressure: {{ weatherData.current.pressure }} hPa</p>
        </div>
      </div>
  
      <div class="forecast">
        <h2 class="title">5-Day Forecast</h2>
        <div class="forecast-item" *ngFor="let day of weatherData.daily?.slice(1, 6);">
          <div class="date">{{ day.dt * MILLISECONDS | date }}</div>
          <div class="details">
            <div class="block">
              <div class="temperature">
                <p class="text">
                  <span class="min">{{ day.temp.min - KELVIN | number: '1.0-0' }}°C</span><br>
                  <span class="max">{{ day.temp.max - KELVIN | number: '1.0-0' }}°C</span>
                </p>
              </div>
              <div class="sun-time">
                <p class="text">
                  <span class="sunrise">{{ day.sunriseTime }}</span><br>
                  <span class="sunset">{{ day.sunsetTime }}</span>
                </p>
              </div>
              <div class="condition">{{ day.weather[0].description }}</div>
            </div>
            <div class="forecast-icon">
              <img [src]="'https://openweathermap.org/img/wn/' + day.weather[0].icon + '@2x.png'" alt="Weather Icon">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="chart-container">
      <canvas baseChart
        [data]="chartData"
        [options]="chartOptions"
        [type]="'line'">
      </canvas>
    </div>

    <ion-button expand="full" (click)="triggerFetchWD(true)">
      Refresh
    </ion-button>
  </div>
</div>
