ion-header {
    box-shadow: none;
  
    ion-title {
      padding: 1rem;
      text-align: center;
    }

    ion-toolbar {
      --background: transparent;
      --border-color: transparent;
    }
  }
  
  ion-content {
    --background: transparent;
  
    overflow: hidden;
  
    .bg-wrapper {
      height: -webkit-fill-available;
  
      ion-icon {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 75vh;
  
        @media (min-width: 450px) {
          height: 66vh;
        }
      }
    }
  
    .container {
      .current-wrapper {
        text-align: center;
  
        .location {
          font-size: 2rem;
          font-weight: light;
          color: white;
          letter-spacing: 0.2rem;
        }
  
        .temperature {
          font-size: 5rem;
          font-weight: 100;
        }
  
        .description {
          opacity: 0.5;
        }
  
        .description,
        .temp-range {
          font-size: 1.2rem;
        }
      }
    }
  
    .pos-absolute {
      top: 10%;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
  
  ion-footer {
    z-index: 999;
  
    ion-toolbar {
      --background: linear-gradient(0deg, #25244C 0%, #3A3A6A 100%);
      --min-height: 80px;
    }
  
    ion-buttons {
      .btn-light-round {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border: 5px solid rgba(255, 255, 255, 0.4);
        border-radius: 50%;
      }
    }
  }
  
  lib-ionic-pullup {
    ion-toolbar {
      --background: #484881bd;
      backdrop-filter: blur(5px);
      border-radius: 50px 50px 0 0;
      border-top: 5px solid #48488191;
  
      ion-buttons {
        margin-bottom: 0.25rem;
      }
  
      ion-segment {
        --background: transparent;
  
        ion-segment-button {
          --indicator-color: transparent;
          --indicator-box-shadow: none;
        }
  
        .segment-button-checked {
          --indicator-color: rgba(147, 114, 180, 0.1);
          border-radius: 0;
        }
      }
    }
  
    ion-buttons {
      .btn-pull-up {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  
    ion-content {
      --background: linear-gradient(0deg, #3A3A6A 30%, #484881bd 100%);
      backdrop-filter: blur(5px);
  
      .forecast-wrapper {
  
        .forecast-toggles-wrapper {
          border-bottom: 1px solid #48488191;
        }
      }
    }
  }
  
  
  
  .forecast-content-wrapper {
    border-top: 1px solid #503A57;
  
    swiper-container {
      margin-top: 1rem;
  
      swiper-slide {
        .row {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 0.75rem;
  
          padding-left: 25px;
          padding-right: 25px;
          overflow-x: scroll;
  
          &::-webkit-scrollbar {
            opacity: 0;
          }
  
          &::-webkit-scrollbar-thumb {
            background-color: transparent;
          }
  
          @media (min-width: 450px) {
            justify-content: center;
          }
  
          .col {
            .forecast-item {
              background: #4F3D73;
              border-radius: 50px;
              padding: 1rem 0.25rem;
              min-width: 50px;
  
              border: 1px solid #5F498A;
              background: #4F3D73;
              box-shadow: 0px 0px 5px #2f2446;
  
              margin: 0.5rem 0;
  
              .forecast-item-icon {
                text-align-last: center;
  
                .weather-icon {
                  img {
                    width: 35px;
                    height: 35px;
                  }
                }
              }
  
              ion-icon,
              .forecast-item-content {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                text-align: center;
                font-size: smaller;
              }
            }
          }
        }
      }
    }
  }