$background-image: url('./../assets/icon/background.svg');

ion-app {
    background-image: $background-image;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 450px) {
        background-size: contain;
        background-repeat: repeat;
    }
}