<ion-header>
  <ion-title *ngIf="(weatherData$ | async)?.daily?.[0]">{{ lastUpdated | date: 'dd.MM.yyyy' }} {{ 'app.at' | translate }} {{ lastUpdated | date: 'HH:mm' }}</ion-title>
</ion-header>
<ion-content [fullscreen]="true">
  
  <div class="bg-wrapper">
      <ion-icon slot="icon-only" src="./../../../../assets/icon/house.svg"></ion-icon>
  </div>

  <div class="container pos-absolute">
    <div class="current-wrapper">
      <h2 class="location">
        {{ location.city }}
      </h2>
      <div class="current-weather">
        <div>
          <ion-text  *ngIf="(weatherData$ | async)?.current?.temp" class="temperature">{{ (weatherData$ | async).current.temp - getConst.KELVIN | number: '1.0-0' }}&#176;C</ion-text>
        </div>
        <div>
          <ion-text *ngIf="(weatherData$ | async)?.current?.weather?.[0]?.description" class="description">{{ (weatherData$ | async).current.weather[0].description | titlecase }}</ion-text>
        </div>
        <div>
          <ion-text *ngIf="(weatherData$ | async)?.daily?.[0]" class="temp-range">H: {{ (weatherData$ | async).daily[0]?.temp.max - getConst.KELVIN | number: '1.0-0'  }}&#176; L:{{ (weatherData$ | async).daily[0].temp.min - getConst.KELVIN | number: '1.0-0'  }}&#176;</ion-text>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<lib-ionic-pullup [(state)]="pullUpState" [toolbarTopMargin]="1" [minBottomVisible]="250">

  <ion-toolbar #ionDragFooter>
    <ion-buttons style="margin-bottom: 1rem;">
      <ion-button (click)="toggleDrawer()" class="btn-pull-up">
        <ion-icon slot="icon-only" name="remove-sharp" color="dark" style="scale: 1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-segment mode="ios" [(ngModel)]="activeSegment" value="hourly">
      <ion-segment-button color="transparent" (click)="hourlyForecast()" value="hourly">
        <ion-label>{{'app.forecast.hourly' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button color="transparent" (click)="weeklyForecast()" value="weekly">
        <ion-label>{{ 'app.forecast.weekly' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-content>
    <ng-container class="forecast-wrapper">
      <div class="forecast-content-wrapper">
        <swiper-container #swiper [slidesPerView]="1" (swiperslidechange)="onSlideChange()">
          <swiper-slide>
            <div class="row">
              <div *ngFor="let forecast of ((weatherData$ | async)?.hourly | slice:0:7)" class="col">
                <div class="forecast-item">
                  <div class="forecast-item-content">
                    <ion-text class="forecast-item-text">{{forecast.dt * getConst.MILLISECONDS| date: 'HH a'
                      }}</ion-text>
                  </div>
                  <div class="forecast-item-icon">
                    <div class="weather-icon">
                      <img [src]="'https://openweathermap.org/img/wn/' + forecast.weather[0].icon + '.png'"
                        alt="Weather Icon">
                    </div>
                  </div>
                  <div class="forecast-item-content">
                    <ion-text class="forecast-item-text">{{ forecast.temp - getConst.KELVIN | number: '1.0-0' }}
                      &#176;C</ion-text>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="row">
              <div *ngFor="let forecast of ((weatherData$ | async)?.daily | slice:0:7)" class="col">
                <div class="forecast-item">
                  <div class="forecast-item-content">
                    <ion-text class="forecast-item-text">{{(forecast.dt * getConst.MILLISECONDS | date: 'EEE') |
                      uppercase }}</ion-text>
                  </div>
                  <div class="forecast-item-icon">
                    <div class="weather-icon">
                      <img [src]="'https://openweathermap.org/img/wn/' + forecast.weather[0].icon + '.png'"
                        alt="Weather Icon">
                    </div>
                  </div>
                  <div class="forecast-item-content">
                    <ion-text class="forecast-item-text">{{ forecast.temp.max - getConst.KELVIN | number: '1.0-0' }}
                      &#176;C</ion-text>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </ng-container>
    <ng-container *ngIf="pullUpState">
      <app-drawer  [data]="(weatherData$ | async)"></app-drawer>
    </ng-container>
  </ion-content>
</lib-ionic-pullup>

<ion-footer>
  <ion-toolbar background="transparent">
    <ion-buttons slot="start">
      <ion-button (click)="toggleLocation()">
        <ion-icon slot="icon-only" name="pin-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button (click)="toggleRefresh()" class="btn-light-round">
        <ion-icon slot="icon-only" name="reload-sharp" color="weather-primary" style="scale: 1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="globe-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>