:host {
    --mbw-header-color-hex: #e86e1e;
    --mbw-header-color-rgb: 232, 110, 30
}

ion-header {
    ion-toolbar {
        --background: var(--mbw-header-color-hex, var(--mbw-header-color-rgb, #fff)) !important;
    }
}

ion-content {
    .global-container {
        display: flex;
        align-items: center;
        justify-content: center;
    
        min-height: calc(100vh - 56px);
        min-width: 100vw;
        max-width: 100vw;
    
        overflow-x: hidden;
    }
}